@{
    ViewData["Title"] = "File Upload";
}


<h1>Single File Upload In Asp.Net Core</h1>
<hr />
@using(Html.BeginForm("ImportFile", "Home", FormMethod.Post, new { enctype ="multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <input type="file" name="file" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Upload</button>
        </div>
    </div>
}